.photo-gallery-section {
  .photo-gallery-section-photos {
    width: 100%;
    height: 15rem;
    position: relative;
    overflow: hidden;

    .photo-gallery-section-button {
      @include button-preset;
      display: block;
      position: absolute;
      z-index: 1000;
      top: 50%;
      transform: translateY(-50%);
      background-color: $beige-light-super;
      border-radius: 50%;
      padding: 0.5rem;
      cursor: pointer;
      will-change: background-color;
      transition: background-color 150ms ease;

      @media (hover: hover) {
        &:hover {
          background-color: #d6d6d5;
        }
      }

      &:focus {
        background-color: #d6d6d5;
      }

      .icon-arrow {
        display: block;
        font-size: 1.75rem;
        color: $beige-medium;
      }

      &.photo-gallery-section-button-left {
        left: 1.25rem;

        .icon-arrow {
          transform: rotate(180deg);
        }
      }

      &.photo-gallery-section-button-right {
        right: 1.25rem;
      }
    }

    .photo-gallery-section-photos-list {
      width: 100%;
      height: 100%;
      white-space: nowrap;

      .photo-gallery-section-photo {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .photo-gallery-section {
    .photo-gallery-section-photos {
      width: 100%;
      height: 25rem;
    }
  }
}

@media only screen and (min-width: 1100px) {
  .photo-gallery-section {
    .photo-gallery-section-photos {
      width: 100%;
      height: 37.5rem;
    }
  }
}
