.photos-section {
  &.photos-section-col-2 {
    display: grid;
    gap: 2rem;

    .photos-section-photo {
      > div {
        padding-bottom: 150% !important;
      }
    }
  }

  .photos-section-photo {
    opacity: 0;
    transition: opacity $fadeInDuartion ease-in;

    &.active {
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 900px) {
  .photos-section {
    &.photos-section-col-2 {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media only screen and (min-width: 1100px) {
  .photos-section {
    &.photos-section-thin {
      padding-right: 3rem;
      padding-left: 3rem;
    }
  }
}
