.toast {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15rem;
  width: calc(100% - 3rem);
  max-width: 24rem;
  background-color: black;
  color: white;
  transition: bottom 800ms ease-in;
  display: grid;
  grid-template-columns: 1fr 2.5rem;
  padding: 0.25rem 0.5rem;
  align-items: flex-start;

  &.toast-success {
    background-color: #356345;
  }

  &.toast-error {
    background-color: #8c3330;
  }

  &.active {
    bottom: 2rem;
  }

  .toast-body {
    display: grid;
    grid-template-columns: 2.5rem 1fr;

    .toast-body-icon {
      display: block;
      padding: 0.5rem;
      font-size: 1.5rem;
      line-height: 1.5rem;
    }

    .toast-body-content {
      padding: 0.4325rem 0.5rem 0.625rem 0;
      font: 300 1rem/1.5rem $font;

      a {
        color: white;

        &:focus {
          text-decoration: none;
        }

        @media (hover: hover) {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .toast-dismiss-button {
    @include button-preset;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    background-color: transparent;

    @media (hover: hover) {
      &:hover {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0.25);
    }

    .icon-close {
      display: block;
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }
}

@media only screen and (min-width: 1100px) {
  .toast {
    max-width: 27.5rem;

    .toast-body {
      .toast-body-content {
        font-size: 1.125rem;
      }
    }
  }
}
