.filter-system {
  @include flex-space-between;
  margin-bottom: 1rem;
  position: relative;
}

@media only screen and (min-width: 600px) {
  .filter-system {
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 1100px) {
  .filter-system {
    margin-bottom: 4rem;
  }
}
