.filter-system {
  @include flex-space-between;
  position: relative;
}

.filter-system-results {
  margin-top: 1rem;
  position: relative;
}

@media only screen and (min-width: 600px) {
  .filter-system-results {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 1100px) {
  .filter-system-results {
    margin-top: 4rem;
  }
}
