@mixin animation-preset {
  // Hardware acceleration preset for animations
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
  backface-visibility: hidden;
  // position animations should be (e.g.) translate3d(100px, 0, 0) for hardware acceleration/non-constant painting
  // east-out for entrances, ease-in for exits
}
