.text-section {
  margin: 0 auto;
  max-width: 42rem;

  .text-section-heading {
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  .text-section {
    .text-section-heading {
      margin-bottom: 1.5rem;
    }
  }
}

@media only screen and (min-width: 900px) {
  .text-section {
    .text-section-heading {
      margin-bottom: 2rem;
    }
  }
}
