.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-col-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 1.25rem;
}

@media only screen and (min-width: 900px) {
  .grid-col-2 {
    grid-template-columns: 1fr 1fr;
    gap: 5rem 2rem;
  }
}
