.photo-card {
  display: block;
  opacity: 0;
  transition: opacity 500ms ease-in;
  text-decoration: none;

  @media (hover: hover) {
    &:hover {
      .photo-card-photo {
        filter: brightness(75%);
      }
    }
  }

  &:focus {
    .photo-card-photo {
      filter: brightness(75%);
    }
  }

  &.active {
    opacity: 1;
  }

  .photo-card-photo {
    filter: brightness(100%);
    transition: filter 300ms ease-in;
    width: 100%;
    height: 75%;
  }
}
