.photo-card {
  @include animation-preset;
  display: block;
  opacity: 0;
  transition: opacity $fadeInDuartion ease-in, transform $fadeInDuartion ease;
  text-decoration: none;
  will-change: transform, opacity, filter;
  transform: translate3d(0, 2rem, 0);
  position: relative;

  &.active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  @media (hover: hover) {
    &:hover {
      .photo-card-photo {
        filter: brightness(65%);
      }
    }
  }

  &:focus {
    .photo-card-photo {
      filter: brightness(75%);
    }
  }

  .photo-card-photo {
    filter: brightness(100%);
    transition: filter 150ms ease-in;
    width: 100%;
  }

  .photo-card-title {
    margin-top: 0.5rem;
  }

  .photo-card-posted {
    margin-top: 0.125rem;
    @include flex-justify-start;

    .photo-card-posted-text {
      display: block;
      font: 300 0.875rem/1.25rem $font;
      color: black;
      opacity: 0.7;
      margin-right: 0.25rem;
    }

    .photo-card-posted-date {
      display: block;
      font: 300 0.875rem/1.25rem $font;
      color: black;
    }
  }
}

@media only screen and (min-width: 1100px) {
  .photo-card {
    .photo-card-title {
      margin-top: 0.75rem;
    }

    .photo-card-posted {
      margin-top: 0.1875rem; // 3px

      .photo-card-posted-text {
        font-size: 1.125rem;
        line-height: 1.75rem;
        margin-right: 0.3125rem; // 5px
      }

      .photo-card-posted-date {
        font-size: 1.125rem;
        line-height: 1.75rem;
      }
    }
  }
}
