@import "./GridHeader/grid-header";

.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  .grid-item {
    .photo-card {
      .photo-card-photo {
        > div {
          padding-bottom: 75% !important;
        }
      }
    }
  }
}

.grid-col-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 1.25rem;

  .photo-card {
    .photo-card-photo {
      > div {
        padding-bottom: 150% !important;
      }
    }
  }
}

.grid-col-2,
.grid-col-4 {
  @for $i from 1 to 25 {
    .grid-item:nth-child(#{$i}) {
      .photo-card {
        transition-delay: $i * 75ms;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .grid-col-2 {
    grid-template-columns: 1fr 1fr;
    gap: 5rem 2rem;
  }

  .grid-col-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem 2rem;
  }
}
