.rich-text {
  h2 {
    font: 300 1.5rem/2rem $font;
    letter-spacing: 0.4px;
    color: black;
    margin: 1.5rem 0 1rem 0;
  }

  h3,
  h4,
  h5,
  h6 {
    font: 300 1.125rem/1.5rem $font;
    letter-spacing: 0.4px;
    color: black;
    margin: 1.5rem 0 1rem 0;
  }

  p {
    color: $beige-medium;
    font: 300 1rem/1.75rem $font;
    letter-spacing: 0.4px;
    margin-bottom: 1.25rem;
  }

  ul {
    margin-bottom: 1.25rem;

    ul {
      margin-bottom: 0;
    }

    li {
      color: $beige-medium;
      font: 300 1rem/1.75rem $font;
      letter-spacing: 0.4px;
      margin-bottom: 0.75rem;
      display: table;

      &:before {
        content: "\2022";
        display: table-cell;
        padding-right: 0.5rem;
      }

      p {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  ol {
    counter-reset: item;
    margin-bottom: 1.25rem;

    ol {
      margin-bottom: 0;
    }

    li {
      display: table;
      margin-top: 0.75rem;

      &:before {
        content: counters(item, ".") ".";
        counter-increment: item;
        display: table-cell;
        padding-right: 0.5rem;
      }

      p {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .rich-text {
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 2rem 0 1.5rem 0;
    }
  }
}

@media only screen and (min-width: 1100px) {
  .rich-text {
    h2 {
      font-size: 2.375rem;
      line-height: 3.5rem;
      margin: 2.5rem 0 2rem 0;
    }

    h3,
    h4,
    h5,
    h6 {
      font-size: calculate-rem(25px);
      line-height: 2rem;
      margin: 2.5rem 0 2rem 0;
    }

    p {
      font-size: 1.25rem;
      line-height: 2rem;
      margin-bottom: 1.5rem;
    }

    ul,
    ol {
      li {
        font-size: 1.25rem;
        line-height: 2rem;
        margin-bottom: 1rem;

        &:before {
          padding-right: 0.75rem;
        }
      }
    }
  }
}
